.card {
  transition: transform 0.2s ease-in-out;
}
.card:hover {
  transform: scale(1.03);
  animation-direction: reverse;
}
h1{
  border-radius: 1px solid blue;
  background-color: bisque;
  color: brown;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
body{
  background-color: skyblue;
}
